In [2]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

In [3]:
def clean_df(df):
    df.dropna(axis=1, how='all', inplace=True)           # drop NA
    df.rename(columns=lambda x: x.lower(), inplace=True) # rename columns to lowercase
    # print(df.columns[0])
    non_unique_cols = df.columns[df.nunique()==1].to_list()
    if len(non_unique_cols) > 0:
        print('deleted non unique columns:', non_unique_cols)
        df.drop(columns=non_unique_cols, inplace=True)   # drop non unique cols
    print('single candidate keys for the table:', df.columns[df.nunique()==len(df)].to_list())

df_rad = pd.read_csv('data/Fahrraddiebstahl.csv', encoding='latin-1')
df_lor = pd.read_csv('data/lor_planungsraeume_2021.csv')
df_bez = pd.read_csv('data/bezirksgrenzen.csv')

for df, df_name in zip([df_rad, df_lor, df_bez], ['df_rad', 'df_lor', 'df_bez']):
    print('------------')
    print(df_name, end=' info:\n')
    clean_df(df)
    # print(df.columns[0])
    print(f'size = {len(df)}, max unique = {max(df.nunique().to_list())}')

------------
df_rad info:
single candidate keys for the table: []
size = 31103, max unique = 3079
------------
df_lor info:
deleted non unique columns: ['tessellate', 'extrude', 'visibility', 'stand']
single candidate keys for the table: ['plr_id', 'groesse_m2']
size = 542, max unique = 542
------------
df_bez info:
deleted non unique columns: ['land_name', 'land_schluessel']
single candidate keys for the table: ['gml_id', 'gemeinde_name', 'gemeinde_schluessel', 'schluessel_gesamt']
size = 12, max unique = 12

In [4]:
df_rad = df_rad.rename(columns=lambda x: x.lower())

In [7]:
print('LORs where no bike was stolen')
for i,x in enumerate(df_lor.plr_id.unique()):
    if x not in df_rad.lor.to_list():
        print(i,x)

LORs where no bike was stolen
299 3300515
455 6200418

In [ ]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/fahrraddiebstahl')
connection = engine.connect()

df_rad.to_sql('rad', con=connection, if_exists='replace', index=False)
df_lor.to_sql('lor', con=connection, if_exists='replace', index=False)
df_bez.to_sql('bez', con=connection, if_exists='replace', index=False)

connection.close()
# conn.close()

In [78]:
# total amount of damage per borough
# pie chart

'''
SELECT bez.gemeinde_name AS bezirk, SUM(rad.schadenshoehe) AS schadenshoehe_pro_bezirk
FROM bez
JOIN lor ON bez.gemeinde_schluessel = lor.bez
JOIN rad ON lor.plr_id = rad.lor
GROUP BY bez.gemeinde_name;
'''

In [8]:
df_rad.nunique()
# df_rad['lor'].unique()

angelegt_am               525
tatzeit_anfang_datum      525
tatzeit_anfang_stunde      24
tatzeit_ende_datum        525
tatzeit_ende_stunde        24
lor                       540
schadenshoehe            3079
versuch                     3
art_des_fahrrads            8
delikt                      2
erfassungsgrund             4
dtype: int64

In [9]:
df_bez

,gml_id,gemeinde_name,gemeinde_schluessel,schluessel_gesamt
0,s_wfs_alkis_bezirk.F176__1,Reinickendorf,12,11000012
1,s_wfs_alkis_bezirk.F176__2,Charlottenburg-Wilmersdorf,4,11000004
2,s_wfs_alkis_bezirk.F176__3,Treptow-Köpenick,9,11000009
3,s_wfs_alkis_bezirk.F176__4,Pankow,3,11000003
4,s_wfs_alkis_bezirk.F176__5,Neukölln,8,11000008
5,s_wfs_alkis_bezirk.F176__6,Lichtenberg,11,11000011
6,s_wfs_alkis_bezirk.F176__7,Marzahn-Hellersdorf,10,11000010
7,s_wfs_alkis_bezirk.F176__8,Spandau,5,11000005
8,s_wfs_alkis_bezirk.F176__9,Steglitz-Zehlendorf,6,11000006
9,s_wfs_alkis_bezirk.F176__10,Mitte,1,11000001
10,s_wfs_alkis_bezirk.F176__11,Friedrichshain-Kreuzberg,2,11000002
11,s_wfs_alkis_bezirk.F176__12,Tempelhof-Schöneberg,7,11000007